# Ignorar o arquivo .env
.env

# Ignorar diretórios e arquivos de cache do Python
codigos/__pycache__/
executavel/__pycache__/
__pycache__/
*.pyc

# Ignorar diretórios e arquivos de ambientes virtuais
venv/
env/
ENV/
env.bak/
venv.bak/

# Ignorar arquivos temporários
*.log
*.tmp

executavel/__pycache__/